venv/
node_modules/
.env.local
*.pyc
db.sqlite3
0*.py
.DS_Store
venv
my_env
.idea
images
node-modules
node_modules
node_modules
react-supabase-auth/vite.config.js
vite.config.js
.env
django-backend/.env
react-supabase-auth/.env
congress-data_v2.4.db
django-backend/congressgpt/congress-data_v2.4.db
django-backend/congress-data_v2.4.db
